body {
  background-color: green; /* for contrast during development */
}
.audio-container {
  background-color: rgba(255, 255, 255, 0.9);
  height: 140px;
  width: 325px;
  border-radius: 20px;
}
audio {
  width: 325px;
  height: 90px;
}

.base-scrubber-rectangle {
  display: flex;
  justify-content: center;
}

.controls-container {
  padding-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#time-displays-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #808080;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

div > p {
  margin: 0 0 0 0;
}

#progress-bar {
  background-color: #D64204;
  height: 4px;
  width: 0px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: -4px;
  position: absolute;
  z-index: 0;
}

#progress-bar-dot {
  position: absolute;
  z-index: 1;
  padding-left: 6px;
  margin-top: -12px;
}
