/* Specific styling of the interventions */
.panel-body {
  padding: 25px 25px 110px 25px !important;
}

.panel-body::before {
  content: "";
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 99px;
  background-image: linear-gradient(120deg, #fff, #fff);
  border-radius: 30px 30px 0px 0px;
}
.panel-body .progress {
  z-index: 10;
  position: fixed;
  bottom: 16px;
  left: 30px;
  height: 8px !important;
  border-radius: 12px;
  background: #f8d1c0 !important;
}
.panel-body .progress .progress-bar {
  margin-left: 0px !important;
  margin-right: 0px !important;
  background: #d64204;
}
#surveyProgress {
  font-size: 14px;
  color: #4d4d4d;
  position: fixed;
  bottom: 50px;
  left: 30px;
  z-index: 1;
}
.pagination {
  position: fixed;
  right: 30px;
  bottom: 12px;
  z-index: 100 !important;
}
.pagination a {
  text-decoration: none !important;
  margin-left: 22px;
}
.progress-bar .undefined {
  display: none !important;
}
.sv_complete_home {
  position: fixed;
  bottom: 0px;
  z-index: 10;
  left: 0px;
  right: 0px;
  background: #fff;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  padding: 25px;
}
.sv_complete_home .sv_home_btn {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
}
.sv_complete_home .sv_home_btn:focus {
  outline: none;
}
.btn.sv_complete_btn {
  display: none;
}

.panel-footer {
  padding: 0;
  background: none !important;
  border: none !important;
  border-radius: 0px;
  position: fixed;
  bottom: 25px;
  left: 25px;
  right: 25px;
}
.mgn-top {
  margin-top: 15px;
}
.btn.sv_next_btn {
  display: none;
}
.sv_last_image_section img {
  bottom: 200px !important;
}

.sv_complete_description {
  margin-bottom: 25px;
}
.sv_complete_description p {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #404040;
  margin-bottom: 20px;
}
.caption {
  text-align: center;
  margin-bottom: 22px;
}
.caption span {
  color: #808080;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}
.sv_bootstrap_css .sv_qstn {
  padding: 0px !important;
}
img.center_align_img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 90px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: auto;
  padding: 25px;
}

/* Faq section styles */
.faq_container {
  padding: 20px 0 0 !important;
  height: 100vh;
}

.faq_list_section,
.get_help_wrapper {
  background: #fff;
  border-radius: 30px 30px 0px 0px;
  padding: 30px 20px;
  min-height: 100%;
}

.faq_list_section ul {
  padding-left: 0px;
}

.faq_list_section ul li {
  list-style: none;
  border-bottom: 1px solid #bfbfbf;
}

.faq_list_section ul li a {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  padding: 18px 0px;
  display: flex;
  justify-content: space-between;
}
.faq_list_section ul li a span {
  padding: 0px 22px 0px 0px;
}

.faq_title h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 24px;
}

.faq_body p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  margin: 0 0 15px;
}
.faq_body p a {
  text-decoration: underline;
  color: #d64204;
}

/* Pysical Module-2 styles */

.wrapper {
  width: 70%;
  padding: 10px;
}

.panel_heading {
  padding: 0;
  border: 0;
  border-radius: 8px;
}
.panel_heading h6 {
  padding: 0px;
  margin: 0px;
}
.panel_default > .panel_heading {
  background: #fff;
}
.panel_title > a,
.panel_title > a:active {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  text-decoration: none;
  align-items: center;
  position: relative;
}

.panel_title > a:focus,
.panel_title > a:hover {
  text-decoration: none;
}
.panel_heading a::after {
  content: url("../Physical/Module-2/expand_arrow.svg");
}

.title,
.get_help_title {
  margin-bottom: 30px;
}

.title h5 {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: normal;
}
.panel_default {
  background: #fff;
  border: 1.4px solid #ddd;
}
.panel-group .panel {
  margin-bottom: 15px;
}

.panel_group .panel_heading + .panel_collapse > .panel_body {
  border-top: 0px;
  padding: 5px 20px 30px 20px;
}

.panel_title p {
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
}
.panel_title a .panel_caption {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #4d4d4d;
  font-weight: normal;
  font-size: 10px;
  margin-bottom: 0;
  position: absolute;
  left: 68px;
  top: 42px;
}
.panel_title a img {
  height: 35px;
  width: 35px;
  background: #f0a282;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}
.panel_body .panel_description {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #404040;
}

.panel_group .panel {
  border-radius: 10px;
}

@media (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
}

.instruction_block {
  text-align: center;
  margin-top: 30px;
}

.instruction_block a {
  text-decoration: underline;
  color: #d64204;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.choose_section {
  text-align: right;
  margin-top: 40px;
}
.choose_section a {
  border: 2px solid #d64204;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #d64204;
  padding: 5px 20px;
}
.choose_section a:focus {
  text-decoration: none;
  color: #d64204;
}
.activity_info p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.activity_info p:first-child {
  margin-bottom: 30px;
}
.activity_footer_info p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #404040;
}
.activity_img {
  margin: 50px 0px;
  text-align: center;
}
.activity_footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 25px;
  text-align: center;
  background: #fff;
}
.activity_footer button {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #d64204;
}
.workout_img {
  text-align: center;
  background: #fcece6;
  height: 480px;
  position: relative;
}
.workout_img img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 35%;
}
.player_btn {
  margin-bottom: 25px;
}
.activity_footer a {
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-decoration: underline;
  color: #808080;
}

@media (max-width: 600px) {
  .sv_qstn,
  .sv_row {
    min-width: 100% !important;
  }
}

/* Get Help Styles */

.get_help_wrapper {
  padding: 30px 20px;
}

.get_help_title h5 {
  font-size: 15px;
  line-height: 25px;
}
.get_help_title h5 a {
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
}

.getHelp_panel_default > .getHelp_panel_heading,
.getHelp_panel_default {
  background-color: #f4f1ef !important;
  border-color: #f4f1ef !important;
}
.get_help_info h4 {
  font-weight: bold;
  color: #191919;
  font-size: 18px;
  margin: 0px 0px 5px 0px;
}
.get_help_info p,
.get_contact_info > div span {
  font-size: 10px;
  color: #919090;
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}
.moreServices_block {
  text-align: center;
  margin-top: 30px;
}
.moreServices_block a {
  text-decoration: underline;
  color: #191919;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.panel_body.getHelp_panel_body {
  border-top: 0px;
  padding: 5px 20px 30px 20px;
}
.get_contact_info > div {
  margin-bottom: 10px;
}
.get_contact_info > div:last-child {
  margin-bottom: 0px;
}
.get_contact_info > div span a {
  color: #d64204;
  font-weight: bold;
}
.get_contact_info > div span.chat {
  line-height: 24px;
}
.get_contact_info > div span a img {
  margin-right: 5px;
}
