.vu-audio-player {
  background-color: #32DCD2; /* for contrast during development */
  width: 100vw;
  height: 100vh;
}

.vu-audio-player .ap-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.vu-audio-player .ap-panel {
  background-color: rgba(255, 255, 255, 0.9);
  height: 140px;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

.vu-audio-player .ap-controls {
  padding-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Have to override global button styling */
.vu-audio-player button {
  border: 0 !important;
  background: transparent !important;
}

/* todo: make sure focus and active states have strong contrast */
.vu-audio-player button:focus {
  outline: transparent;
}


.vu-audio-player .time-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #808080;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.vu-audio-player .prog-bar {
  height: 4px;
  margin: -4px 10px;
  position: relative;
}

.vu-audio-player .prog-bar .prog-amount {
  background-color: #E8E5E3;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vu-audio-player .prog-bar .prog-amount::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2px;

  background-color: #D64204;
}

.vu-audio-player .prog-bar .prog-thumb {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transform: translate(5px, -3px);
  background-color: #D64204;
  position: absolute;
}

.vu-audio-player .prog-bar .prog-amount::after,
.vu-audio-player .prog-bar .prog-thumb {
  animation: audio-player-progression 1s linear forwards;
  animation-play-state: paused;
  animation-delay: calc(-1s * var(--progress-proportion));
}

@keyframes audio-player-progression {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}