/* Get Help Styles */

.container {
  padding: 20px 0 0 !important;
  height: 100vh;
}

.get_help_wrapper {
  background: #fff;
  border-radius: 30px 30px 0px 0px;
  padding: 30px 20px;
  min-height: 100%;
}

.get_help_wrapper {
  padding: 30px 20px;
}

.get_help_title h5 {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 30px;
}
.get_help_title h5 a {
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
}

.getHelp_panel_default > .getHelp_panel_heading,
.getHelp_panel_default {
  background-color: #f4f1ef !important;
  border-color: #f4f1ef !important;
}
.get_help_info h4 {
  font-weight: bold;
  color: #191919;
  font-size: 18px;
  margin: 0px 0px 5px 0px;
}
.get_help_info p,
.get_contact_info > div span {
  font-size: 10px;
  color: #919090;
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}
.moreServices_block {
  text-align: center;
  margin-top: 30px;
}
.moreServices_block a {
  text-decoration: underline;
  color: #191919;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.panel_body.getHelp_panel_body {
  border-top: 0px;
  padding: 5px 20px 30px 20px;
}
.get_contact_info > div {
  margin-bottom: 10px;
}
.get_contact_info > div:last-child {
  margin-bottom: 0px;
}
.get_contact_info > div span a {
  color: #d64204;
  font-weight: bold;
}
.get_contact_info > div span.chat {
  line-height: 24px;
}
.get_contact_info > div span a img {
  margin-right: 5px;
}
